@model POCOiNew.Domain.OrderContext.Entities.Orders

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order_Id" class="control-label"></label>
                <input asp-for="Order_Id" class="form-control" />
                <span asp-validation-for="Order_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Id" class="control-label"></label>
                <input asp-for="Customer_Id" class="form-control" />
                <span asp-validation-for="Customer_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salesman_Id" class="control-label"></label>
                <input asp-for="Salesman_Id" class="form-control" />
                <span asp-validation-for="Salesman_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Date" class="control-label"></label>
                <input asp-for="Order_Date" class="form-control" />
                <span asp-validation-for="Order_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
